@import './variables.scss';

#app {
  // 主体区域
  .main-container {
    min-height: 100%;
    transition: margin-left .28s;
    margin-left: 188px;
    position: relative;
    background-color: $main-container-bg;
  }
  // 侧边栏
  .sidebar-container {
    transition: width 0.28s;
    width: 188px !important;
    height: 100%;
    position: fixed;
    font-size: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    //reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }
    .scrollbar-wrapper {
      overflow-x: hidden!important;
      .el-scrollbar__view {
        height: 100%;
      }
    }
    .el-scrollbar__bar.is-vertical{
      right: 0px;
    }
    .is-horizontal {
      display: none;
    }
    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }
    .svg-icon {
      margin-right: 16px;
    }
    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }
    .is-active > .el-submenu__title{
      color: #E0E2E4!important;
    }
  }
  .hideSidebar {
    .sidebar-container {
      width: 36px !important;
    }
    .main-container {
      margin-left: 36px;
    }
    .submenu-title-noDropdown {
      padding-left: 10px !important;
      position: relative;
      .el-tooltip {
        padding: 0 10px !important;
      }
    }
    .el-submenu {
      overflow: hidden;
      &>.el-submenu__title {
        padding-left: 10px !important;
        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }
    .el-menu--collapse {
      .logo-img{
        overflow: hidden;
        visibility: hidden;
      }
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .sidebar-container .el-menu {
    background-color: $menuBg !important;
  }

  .sidebar-container .el-submenu__title {
    padding-left: $menuPadding !important;
    background-color: $menuBg !important;
    height: $menuHeight !important;
    line-height: $menuHeight !important;
  }
  .sidebar-container .el-submenu .el-menu-item {
    padding-left: $menuPadding !important;
    background-color: $subMenuBg !important;
    height: $menuHeight !important;
    line-height: $menuHeight !important;
  }
  .sidebar-container  .el-menu-item {
    padding-left: $menuPadding !important;
    background-color: $menuBg !important;
    height: $menuHeight !important;
    line-height: $menuHeight !important;
  }
  .sidebar-container .el-menu-item.is-active {
    color: $fontColor !important;
    background: $menuActive !important;
  }

  .sidebar-container .nest-menu
  .sidebar-container .el-menu-item {
    min-width: 188px !important;
    background-color: $subMenuBg !important;
    //&:hover {
    //  background-color: $menuHover !important;
    //}
  }
  .sidebar-container .nest-menu .el-submenu>.el-submenu__title,
  .sidebar-container .el-menu-item  {
    min-width: 180px !important;
    //&:hover {
    //  background-color: $menuHover !important;
    //}
  }
  .sidebar-container .el-menu--collapse .el-menu .el-submenu {
    min-width: 180px !important;
  }
  /*菜单关闭*/
  .el-submenu>.el-submenu__title .el-submenu__icon-arrow{
    -webkit-transform: rotateZ(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotateZ(-90deg);
  }
  /*菜单展开*/
  .el-submenu.is-opened>.el-submenu__title .el-submenu__icon-arrow {
    -webkit-transform: rotateZ(0deg);
    -ms-transform: rotate(0deg);
    transform: rotateZ(0deg);
  }
  .sidebar-container .el-icon-arrow-down:before{content:"\E790"}

  //适配移动端
  .mobile {
    .main-container {
      margin-left: 0px;
    }
    .sidebar-container {
      transition: transform .28s;
      width: 180px !important;
    }
    &.hideSidebar {
      .sidebar-container {
        transition-duration: 0.3s;
        transform: translate3d(-180px, 0, 0);
      }
    }
  }
  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

.el-submenu__title *{vertical-align: top;}
.el-menu--vertical{
  & >.el-menu{
    .svg-icon{
      margin-right: 16px;
    }
  }
}
