$blue: #324157;
$light-blue: #3A71A8;
$red: #C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow: #FEC171;
$panGreen: #30B08F;
$white: rgba(255, 255, 255, 1);

$gray-1: #f7f8fa;
$gray-2: #f2f3f5;
$gray-3: #ebedf0;
$gray-4: #dcdee0;
$gray-5: #c8c9cc;
$gray-6: #969799;
$gray-7: #646566;
$gray-8: #323233;

// 字体
$title-color: rgba(0, 0, 0, 0.851);
$sub-title-color: rgba(0, 0, 0, 0.65);
$content-color: rgba(0, 0, 0, 0.55);
$desc-color: rgba(109, 114, 120, 1);

$text-color: $gray-8;
$active-color: $gray-2;
$active-opacity: 0.7;
$disabled-opacity: 0.5;

//sidebar
$fontColor: #E0E2E4;
$menuBg: #273142;
$subMenuBg: #313B4D;
$menuHover: #177EE6;
$menuActive: #177EE6;
$menuPadding: 44px;
$menuHeight: 42px;

$main-container-bg: rgba(244, 244, 244, 1);
