@import '../variables.scss';

@mixin hairline-common() {
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
}

@mixin hairline($border-color) {
  @include hairline-common();

  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  border: 0 solid $border-color;
  transform: scale(0.5);
}

@mixin hairline-top($border-color, $left: 0) {
  @include hairline-common();

  top: 0;
  right: 0;
  left: $left;
  border-top: 1px solid $border-color;
  transform: scaleY(0.5);
}

@mixin hairline-bottom($border-color, $left: 0) {
  @include hairline-common();

  right: 0;
  bottom: 0;
  left: $left;
  border-bottom: 1px solid $border-color;
  transform: scaleY(0.5);
}
